<input type="button" class="switchback"/>
<div id="jl">
  <input type="button" class="lbtn" id="l"/>
  <input type="button" class="joyconl"/>
  <div style="position:absolute;top: <%- getHeight(65) %>;left: <%- getWidth(159) %>;">
    <svg width="<%- getWidth(45) %>" height="<%- getHeight(15) %>" viewBox="0 0 <%- getWidth(45) %> <%- getHeight(15) %>" style="position:absolute;top:0;left:0;z-index:2" id="minus">
      <polygon style="stroke:black;fill:#262626;stroke-width:0px;" points="0 <%- getHeight(15) %>,<%- getWidth(45) %> <%- getHeight(15) %>,<%- getWidth(45) %> 0,0 0"></polygon>
      <polygon style="stroke:black;fill:#464646;stroke-width:0px;" points="0 <%- getHeight(13) %>,<%- getWidth(43) %> <%- getHeight(13) %>,<%- getWidth(43) %> <%- getHeight(2) %>,<%- getWidth(2) %> <%- getHeight(2) %>"></polygon>
    </svg>
  </div>
  <div id="ljoystick" style="position:fixed;top:<%- getHeight(125) %>;left:<%- getWidth(85.5) %>;width:<%- getWidth(160) %>;height:<%- getHeight(160) %>">
    <input type="button" class="joystickbg"/>
    <div id="ljoybutton" style="position:relative;top:<%- getHeight(20) %>;left:<%- getWidth(-20) %>">
      <input type="button" class="joystick"/>
      <input type="button" class="joysticks"/>
      <svg width="<%- getWidth(10) %>" height="<%- getHeight(14) %>" viewBox="0 0 <%- getWidth(10) %> <%- getHeight(14) %>" style="position:absolute;top:<%- getHeight(53) %>;left:<%- getWidth(108) %>">
          <polygon style="stroke:black;fill:#262626;stroke-width:0px;" points="0 0,<%- getWidth(10) %> 0,<%- getWidth(10) %> <%- getHeight(14) %>,0 <%- getHeight(14) %>"></polygon>
      </svg>
      <svg width="<%- getWidth(10) %>" height="<%- getHeight(14) %>" viewBox="0 0 <%- getWidth(10) %> <%- getHeight(14) %>" style="position:absolute;top:<%- getHeight(53) %>;left:<%- getWidth(3) %>">
          <polygon style="stroke:black;fill:#262626;stroke-width:0px;" points="0 0,<%- getWidth(10) %> 0,<%- getWidth(10) %> <%- getHeight(14) %>,0 <%- getHeight(14) %>"></polygon>
      </svg>
      <svg width="<%- getWidth(14) %>" height="<%- getHeight(10) %>" viewBox="0 0 <%- getWidth(14) %> <%- getHeight(10) %>" style="position:absolute;top:<%- getHeight(3) %>;left:<%- getWidth(53) %>">
          <polygon style="stroke:black;fill:#262626;stroke-width:0px;" points="0 0,<%- getWidth(14) %> 0,<%- getWidth(14) %> <%- getHeight(10) %>,0 <%- getHeight(10) %>"></polygon>
      </svg>
      <svg width="<%- getWidth(14) %>" height="<%- getHeight(10) %>" viewBox="0 0 <%- getWidth(14) %> <%- getHeight(10) %>" style="position:absolute;top:<%- getHeight(108) %>;left:<%- getWidth(53) %>">
          <polygon style="stroke:black;fill:#262626;stroke-width:0px;" points="0 0,<%- getWidth(14) %> 0,<%- getWidth(14) %> <%- getHeight(10) %>,0 <%- getHeight(10) %>"></polygon>
      </svg>
    </div>
    <input type="button" class="top" id="ltop"/>
    <input type="button" class="topleft" id="ltopleft"/>
    <input type="button" class="left" id="lleft"/>
    <input type="button" class="leftbottom" id="lleftbottom"/>
    <input type="button" class="bottom" id="lbottom"/>
    <input type="button" class="bottomright" id="lbottomright"/>
    <input type="button" class="right" id="lright"/>
    <input type="button" class="righttop" id="lrighttop"/>
  </div>
  <div id="arrowupdiv" style="position:fixed;top:<%- getHeight(330) %>;left:<%- getWidth(95.5) %>;width:<%- getWidth(60) %>;height:<%- getHeight(60) %>">
    <svg width="<%- getWidth(30) %>px" height="<%- getHeight(30) %>px" viewBox="0 0 <%- getWidth(30) %> <%- getHeight(30) %>" style="position:absolute;top:45%;left:50%;transform: translate(-50%, -50%)">
      <polygon style="stroke:black;fill:#000;stroke-width:0px;" points="<%- getWidth(30) %> <%- getHeight(30) %>,0 <%- getHeight(30) %>,<%- getWidth(30)/2 %> 0"></polygon>
    </svg>
    <input type="button" class="btnround"/>
    <input type="button" class="transparentbtnround" id="arrowup"/>
  </div>
  <div id="arrowleftdiv" style="position:fixed;top:<%- getHeight(385) %>;left:<%- getWidth(40.5) %>;width:<%- getWidth(60) %>;height:<%- getHeight(60) %>">
    <svg width="<%- getWidth(30) %>" height="<%- getHeight(30) %>" viewBox="0 0 <%- getWidth(30) %> <%- getHeight(30) %>" style="position:absolute;top:50%;left:45%;transform: translate(-50%, -50%)">
      <polygon style="stroke:black;fill:#000;stroke-width:0px;" points="<%- getWidth(30) %> <%- getHeight(30) %>,<%- getWidth(30) %> 0,0 <%- getHeight(30)/2 %>"></polygon>
    </svg>
    <input type="button" class="btnround"/>
    <input type="button" class="transparentbtnround" id="arrowleft"/>
  </div>
  <div id="arrowbottomdiv" style="position:fixed;top:<%- getHeight(440) %>;left:<%- getWidth(95.5) %>;width:<%- getWidth(60) %>;height:<%- getHeight(60) %>">
    <svg width="<%- getWidth(30) %>" height="<%- getHeight(30) %>" viewBox="0 0 <%- getWidth(30) %> <%- getHeight(30) %>" style="position:absolute;top:55%;left:50%;transform: translate(-50%, -50%)">
      <polygon style="stroke:black;fill:#000;stroke-width:0px;" points="<%- getWidth(30)/2 %> <%- getHeight(30) %>,<%- getWidth(30) %> 0,0 0"></polygon>
    </svg>
    <input type="button" class="btnround"/>
    <input type="button" class="transparentbtnround" id="arrowdown"/>
  </div>
  <div id="arrowrightdiv" style="position:fixed;top:<%- getHeight(385) %>;left:<%- getWidth(150.5) %>;width:<%- getWidth(60) %>;height:<%- getHeight(60) %>">
    <svg width="<%- getWidth(30) %>" height="<%- getHeight(30) %>" viewBox="0 0 <%- getWidth(30) %> <%- getHeight(30) %>" style="position:absolute;top:50%;left:55%;transform: translate(-50%, -50%)">
      <polygon style="stroke:black;fill:#000;stroke-width:0px;" points="0 <%- getHeight(30) %>,0 0,<%- getWidth(30) %> <%- getHeight(30)/2 %>"></polygon>
    </svg>
    <input type="button" class="btnround"/>
    <input type="button" class="transparentbtnround" id="arrowright"/>
  </div>
  <div id="capture" style="position:fixed;top:<%- getHeight(540) %>;left:<%- getWidth(150) %>;width:<%- getWidth(42) %>;height:<%- getHeight(42) %>">
    <input type"button" class="capturebg" id="capturebg" disabled/>
    <input type"button" class="capture" id="capture" disabled/>
  </div>
</div>
<div id="jr">
  <input type="button" class="rbtn" id="r"/>
  <input type="button" class="joyconr"/>
  <div id="dplus" style="position:fixed;top:<%- getHeight(50) %>;left:<%- getWidth(1605) %>">
    <svg width="<%- getWidth(45) %>" height="<%- getHeight(45) %>" viewBox="0 0 <%- getWidth(45) %> <%- getHeight(45) %>" style="position:absolute;top:0;left:0;z-index:2" id="plus">
      <polygon style="stroke:black;fill:#262626;stroke-width:0px;" points="<%- getWidth(15) %> <%- getHeight(30) %>,0 <%- getHeight(30) %>,0 <%- getHeight(15) %>,<%- getWidth(15) %> <%- getHeight(15) %>,<%- getWidth(15) %> 0,<%- getWidth(30) %> 0,<%- getWidth(30) %> <%- getHeight(15) %>,<%- getWidth(45) %> <%- getHeight(15) %>,<%- getWidth(45) %> <%- getHeight(30) %>,<%- getWidth(30) %> <%- getHeight(30) %>,<%- getWidth(30) %> <%- getHeight(45) %>,<%- getWidth(15) %> <%- getHeight(45) %>"></polygon>
      <polygon style="stroke:black;fill:#464646;stroke-width:0px;" points="<%- getWidth(17) %> <%- getHeight(28) %>,<%- getWidth(2) %> <%- getHeight(28) %>,<%- getWidth(2) %> <%- getHeight(17) %>,<%- getWidth(17) %> <%- getHeight(17) %>,<%- getWidth(17) %> <%- getHeight(2) %>,<%- getWidth(28) %> <%- getHeight(2) %>,<%- getWidth(28) %> <%- getHeight(17) %>,<%- getWidth(43) %> <%- getHeight(17) %>,<%- getWidth(43) %> <%- getHeight(28) %>,<%- getWidth(28) %> <%- getHeight(28) %>,<%- getWidth(28) %> <%- getHeight(43) %>,<%- getWidth(17) %> <%- getHeight(43) %>"></polygon>
    </svg>
  </div>
  <div id="rjoystick" style="position:fixed;top:<%- getHeight(335) %>;left:<%- getWidth(1642.5) %>;width:<%- getWidth(160) %>;height:<%- getHeight(160) %>">
    <input type="button" class="joystickbg"/>
    <div id="rjoybutton" style="position:relative;top:<%- getHeight(20) %>;left:<%- getWidth(-20) %>">
      <input type="button" class="joystick"/>
      <input type="button" class="joysticks"/>
      <svg width="<%- getWidth(10) %>" height="<%- getHeight(14) %>" viewBox="0 0 <%- getWidth(10) %> <%- getHeight(14) %>" style="position:absolute;top:<%- getHeight(53) %>;left:<%- getWidth(108) %>">
          <polygon style="stroke:black;fill:#262626;stroke-width:0px;" points="0 0,<%- getWidth(10) %> 0,<%- getWidth(10) %> <%- getHeight(14) %>,0 <%- getHeight(14) %>"></polygon>
      </svg>
      <svg width="<%- getWidth(10) %>" height="<%- getHeight(14) %>" viewBox="0 0 <%- getWidth(10) %> <%- getHeight(14) %>" style="position:absolute;top:<%- getHeight(53) %>;left:<%- getWidth(3) %>">
          <polygon style="stroke:black;fill:#262626;stroke-width:0px;" points="0 0,<%- getWidth(10) %> 0,<%- getWidth(10) %> <%- getHeight(14) %>,0 <%- getHeight(14) %>"></polygon>
      </svg>
      <svg width="<%- getWidth(14) %>" height="<%- getHeight(10) %>" viewBox="0 0 <%- getWidth(14) %> <%- getHeight(10) %>" style="position:absolute;top:<%- getHeight(3) %>;left:<%- getWidth(53) %>">
          <polygon style="stroke:black;fill:#262626;stroke-width:0px;" points="0 0,<%- getWidth(14) %> 0,<%- getWidth(14) %> <%- getHeight(10) %>,0 <%- getHeight(10) %>"></polygon>
      </svg>
      <svg width="<%- getWidth(14) %>" height="<%- getHeight(10) %>" viewBox="0 0 <%- getWidth(14) %> <%- getHeight(10) %>" style="position:absolute;top:<%- getHeight(108) %>;left:<%- getWidth(53) %>">
          <polygon style="stroke:black;fill:#262626;stroke-width:0px;" points="0 0,<%- getWidth(14) %> 0,<%- getWidth(14) %> <%- getHeight(10) %>,0 <%- getHeight(10) %>"></polygon>
      </svg>
    </div>
    <input type="button" class="top" id="rtop"/>
    <input type="button" class="topleft" id="rtopleft"/>
    <input type="button" class="left" id="rleft"/>
    <input type="button" class="leftbottom" id="rleftbottom"/>
    <input type="button" class="bottom" id="rbottom"/>
    <input type="button" class="bottomright" id="rbottomright"/>
    <input type="button" class="right" id="rright"/>
    <input type="button" class="righttop" id="rrighttop"/>
  </div>
  <div id="x" style="position:fixed;top:<%- getHeight(120) %>;left:<%- getWidth(1652.5)%>;width:<%- getWidth(60) %>;height:<%- getHeight(60) %>">
    <p class="switchbtntxt">X</p>
    <input type="button" class="btnround" id="x"/>
  </div>
  <div id="b" style="position:fixed;top:<%- getHeight(230) %>;left:<%- getWidth(1652.5) %>;width:<%- getWidth(60) %>;height:<%- getHeight(60) %>">
    <p class="switchbtntxt">B</p>
    <input type="button" class="btnround" id="b"/>
  </div>
  <div id="y" style="position:fixed;top:<%- getHeight(175) %>;left:<%- getWidth(1597.5) %>;width:<%- getWidth(60) %>;height:<%- getHeight(60) %>">
    <p class="switchbtntxt">Y</p>
    <input type="button" class="btnround" id="y"/>
  </div>
  <div id="a" style="position:fixed;top:<%- getHeight(175) %>;left:<%- getWidth(1707.5) %>;width:<%- getWidth(60) %>;height:<%- getHeight(60) %>">
    <p class="switchbtntxt">A</p>
    <input type="button" class="btnround" id="a"/>
  </div>
  <div id="home" style="position:fixed;top:<%- getHeight(540) %>;left:<%- getWidth(1618) %>;width:<%- getWidth(42) %>;height:<%- getHeight(42) %>">
    <svg width="<%- getWidth(20) %>" height="<%- getHeight(18) %>" viewBox="0 0 <%- getWidth(20) %> <%- getHeight(18) %>" style="position:absolute;top:47.5%;left:50%;z-index:2;transform: translate(-50%, -50%)">
      <polygon style="stroke:black;fill:#000;stroke-width:0px;" points="<%- getWidth(20)/2 %> 0,<%- getWidth(20) %> <%- getHeight(10) %>,0 <%- getHeight(10) %>"></polygon>
      <polygon style="stroke:black;fill:#000;stroke-width:0px;" points="<%- getWidth(3) %> <%- getHeight(20) %>,<%- getWidth(8) %> <%- getHeight(20) %>,<%- getWidth(8) %> <%- getHeight(10) %>,<%- getWidth(3) %> <%- getHeight(10) %>"></polygon>
      <polygon style="stroke:black;fill:#000;stroke-width:0px;" points="<%- getWidth(3) %> <%- getHeight(20) %>,<%- getWidth(17) %> <%- getHeight(20) %>,<%- getWidth(17) %> <%- getHeight(15) %>,<%- getWidth(3) %> <%- getHeight(15) %>"></polygon>
      <polygon style="stroke:black;fill:#000;stroke-width:0px;" points="<%- getWidth(12) %> <%- getHeight(18) %>,<%- getWidth(17) %> <%- getHeight(18) %>,<%- getWidth(17) %> <%- getHeight(10) %>,<%- getWidth(12) %> <%- getHeight(10) %>"></polygon>
    </svg>
    <input type"button" class="home"/>
    <input type"button" class="homebg" id="home" disabled/>
  </div>
  <div id="volume" style="position:fixed;top:<%- getHeight(5) %>;left:<%- getWidth(302.5) %>;width:<%- getWidth(90) %>;height:<%- getHeight(5) %>">
    <svg width="<%- getWidth(30) %>" height="<%- getHeight(5) %>" viewBox="0 0 <%- getWidth(30) %> <%- getHeight(5) %>" id="volm" style="position:absolute;left:0;top:0">
      <polygon style="stroke:black;fill:#262626;stroke-width:0px;" points="0 <%- getHeight(5) %>,<%- getWidth(30) %> <%- getHeight(5) %>,<%- getWidth(30) %> 0,0 0"></polygon>
      <polygon style="stroke:black;fill:#595959;stroke-width:0px;" points="<%- getWidth(2) %> <%- getHeight(5) %>,<%- getWidth(28) %> <%- getHeight(5) %>,<%- getWidth(28) %> <%- getHeight(2) %>,<%- getWidth(2) %> <%- getHeight(2) %>"></polygon>
    </svg>
    <svg width="<%- getWidth(30) %>" height="<%- getHeight(4) %>" viewBox="0 0 <%- getWidth(30) %> <%- getHeight(4) %>" style="position:absolute;left:<%- getWidth(30) %>;top:<%- getHeight(1) %>">
      <polygon style="stroke:black;fill:#262626;stroke-width:0px;" points="0 <%- getHeight(4) %>,<%- getWidth(30) %> <%- getHeight(4) %>,<%- getWidth(30) %> 0,0 0"></polygon>
      <polygon style="stroke:black;fill:#595959;stroke-width:0px;" points="0 <%- getHeight(4) %>,<%- getWidth(30) %> <%- getHeight(4) %>,<%- getWidth(30) %> <%- getHeight(2) %>,0 <%- getHeight(2) %>"></polygon>
    </svg>
    <svg width="<%- getWidth(30) %>" height="<%- getHeight(5) %>" viewBox="0 0 <%- getWidth(30) %> <%- getHeight(5) %>" id="volp" style="position:absolute;left:<%- getWidth(60) %>;top:0">
      <polygon style="stroke:black;fill:#262626;stroke-width:0px;" points="0 <%- getHeight(5) %>,<%- getWidth(30) %> <%- getHeight(5) %>,<%- getWidth(30) %> 0,0 0"></polygon>
      <polygon style="stroke:black;fill:#595959;stroke-width:0px;" points="<%- getWidth(2) %> <%- getHeight(5) %>,<%- getWidth(28) %> <%- getHeight(5) %>,<%- getWidth(28) %> <%- getHeight(2) %>,<%- getWidth(2) %> <%- getHeight(2) %>"></polygon>
    </svg>
  </div>
  <div class="power">
    <svg width="<%- getWidth(30) %>" height="<%- getHeight(4) %>" viewBox="0 0 <%- getWidth(30) %> <%- getHeight(4) %>">
      <polygon style="stroke:black;fill:#262626;stroke-width:0px;" points="0 <%- getHeight(4) %>,<%- getWidth(30) %> <%- getHeight(4) %>,<%- getWidth(30) %> 0,0 0"></polygon>
      <polygon style="stroke:black;fill:#595959;stroke-width:0px;" points="<%- getWidth(2) %> <%- getHeight(4) %>,<%- getWidth(28) %> <%- getHeight(4) %>,<%- getWidth(28) %> <%- getHeight(2) %>,<%- getWidth(2) %> <%- getHeight(2) %>"></polygon>
    </svg>
  </div>
</div>
