<p style="position:absolute;top:<%- getHeight(50) %>;left:0;font-size:<%- getWidth(50) %>;width:<%- getWidth(1280) %>;margin:0 0;text-align:center;">Welcome to uLaunch Themes Maker</p>
<input type="button" style="position:absolute;top:<%- getHeight(125) %>;left:50%;transform: translate(-50%);background-color: #828282;cursor: pointer;border: none;border-radius: <%- getHeight(10) %>px;color: #f5f6fa;outline: none;text-align:center;padding: <%- getHeight(10) %>px <%- getWidth(10) %>px;font-weight:bold;font-size: <%- getWidth(20) %>;" id="create" value="Create New Theme"/>
<center><div style="position:absolute;top:<%- getHeight(193) %>;left:0;height:<%- getHeight(527) %>;width:<%- getWidth(1280) %>" id="mthemes">

</div></center>
<input type="button" style="position:absolute;bottom:<%- getHeight(5) %>;left:<%- getWidth(5) %>;background-color: #828282;cursor: pointer;border: none;border-radius: <%- getHeight(10) %>px;color: #f5f6fa;outline: none;text-align:center;padding: <%- getHeight(10) %>px <%- getWidth(10) %>px;font-weight:bold;font-size: <%- getWidth(20) %>;" id="return" value="Return to uLaunch"/>
