<div id="elem" style="background-color: #424242;z-index:99;position:absolute;top:0;left:0;overflow:hidden;width:<%- getWidth(1280) %>;height:<%- getHeight(720) %>;">
  <div id="elemm" style="background-color: #424242;position:absolute;top:50%;left:50%;z-index:100;transform:translate(-50%, -50%);overflow-y:normal;overflow-x:hidden;width:<%- getWidth(1260) %>;height:<%- getHeight(700) %>;">
    <p style="position:absolute;top:<%- getHeight(30) %>;left:50%;transform:translate(-50%);z-index:101;font-size:<%- getWidth(50) %>;width:<%- getWidth(1260) %>;margin:0 0;text-align:center;"><%- val %></p>
    <p style="position:absolute;top:<%- getHeight(105) %>;left:50%;transform:translate(-50%);z-index:101;font-size:<%- getWidth(30) %>;width:<%- getWidth(1260) %>;margin:0 0;text-align:center;" id="default"></p>
    <p style="position:absolute;top:<%- getHeight(150) %>;left:50%;transform:translate(-50%);z-index:101;font-size:<%- getWidth(30) %>;width:<%- getWidth(1260) %>;margin:0 0;text-align:center;" id="current"></p>
    <img style="position:relative;top:<%- getHeight(195) %>;left:50%;transform:translate(-50%);max-width:70%;max-height:70%" src="<%- defaulticon[id] %>" id="image">
    <img style="position:relative;top:0;left:0;display:none" src="<%- defaulticon[id] %>" id="imagedef">
  </div>
  <input type="button" style="position:absolute;bottom:<%- getHeight(5) %>;z-index:101;left:<%- getWidth(5) %>;background-color: #828282;cursor: pointer;border: none;border-radius: <%- getHeight(10) %>px;color: #f5f6fa;outline: none;text-align:center;padding: <%- getHeight(10) %>px <%- getWidth(10) %>px;font-weight:bold;font-size: <%- getWidth(20) %>;" id="ereturn" value="Return"/>
</div>
