<img width="<%- getWidth(1280) %>" height="<%- getHeight(720) %>" style="position:absolute;top: 0; left: 0" src="<%- defaulticon.background %>">
<p style="position: absolute;top: <%- getHeight(uijson["settings_menu"]["info_text"]["y"]) %>;left: 50%;transform: translate(-50%, 0);border: 0;margin: 0px 0px;background-color: #000;font-family: 'Font'; font-size: <%- getWidth(25) %>; background-color: transparent; border: 0; color: <%- uijson["text_color"] %>;visibility: <%- uijson["settings_menu"]["info_text"]["visible"] %>;"><%- lang["set_info_text"] %></p>
<div style="position: relative;top: <%- getHeight(uijson["settings_menu"]["settings_menu_item"]["y"]) %>; left: <%- getWidth(uijson["settings_menu"]["settings_menu_item"]["x"]) %>;width: <%- getWidth(880) %>;height:<%- getHeight(400) %>;overflow-x: hidden;overflow-y: auto;margin: 0px 0px;padding: 0px;visibility: <%- uijson["settings_menu"]["settings_menu_item"]["visible"] %>;" type="button" id="settings">
  <%
    let num = undefined;
    let n = -1;
    let settingss = settings.map((setting) => {
      n += 1
      return `<div style="position:absolute;top:${getHeight(eval(n*100))};left:0;width:${getWidth(880)};height:${getHeight(100)}"><img width="${getWidth(100)}" height="${getHeight(100)}" style="position:absolute;top: 0;z-index: 1; left: ${getWidth(25)}" src="${(setting.id === -1) ? defaulticon.settingnoeditable : defaulticon.settingeditable}"><p style="position: absolute;top: 50%;transform:translate(0, -50%);z-index: 1; left: ${getWidth(140)};margin: 0px 0px;border: 0;font-family: 'Font'; font-size: ${getWidth(25)}; background-color: transparent; border: 0; color: ${uijson["text_color"]};" id="${n}t">${setting.value}</p><input type="button" style="position:absolute;top:0;left:0;z-index: 0;width: ${getWidth(880)};height:${getHeight(100)};outline:none;border: none;background-color:${(n == 0) ? uijson["menu_focus_color"] : uijson["menu_bg_color"]};" id="${n}g"/><input type="button" style="position:absolute;top:0;left:0;z-index: 2;outline: none;width: ${getWidth(880)};height:${getWidth(100)};border: none;background-color:transparent" id="${n}"/></div>`
    });
    settingss.join("");
  %>
  <%- settingss %>
</div>
